.container{
  padding: 0;
}

header {
  padding: 10px 0; 
  background-color: rgb(248 249 250);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}
ul {
  display: flex;
}
li > a {
  padding: 5px;
  margin-right: 10px;

  color: #000;
}
nav ul li:first-of-type > a {
  border-right: solid 1px;
  font-weight: 700;
  padding-right: 16px;
}
nav ul li:nth-child(2) a {
  color: #ff5722;
}
.logo {
  width: 180px;
  height: 40px;
}
.select_login {
  width: 250px;
}
.select {
  display: inline-block;
  margin-right: 10px;
}
.fa-earth-asia {
  color: gray;
  margin-right: 5px;
}

select {
  border-radius: 10px;
  border: solid 1px grey;
  padding-top: 5px;
  padding-bottom: 5px;
  color: gray;
}

.hero {
  text-align: center;
  padding: 100px 0 0 0;
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
}

.hero h1 {
  color: rgb(70 30 13);
  font-size: 56px;
  padding-bottom: 24px;
  font-weight: 600;
}

.hero p {
  line-height: 30px;
  margin: 0 auto;
  font-size: 18px;
  color: rgb(112 81 69);

  max-width: 800px;
  padding-bottom: 24px;
}

.hero span {
  color: rgb(162 121 104);
  font-size: 14px;

  padding-bottom: 12px;
}

.login_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  background-color: #fff;
  border: 1px #555 solid;
  border-radius: 10px;
}

.login_btn a {
  color: #333;
  font-weight: bold;
}

.login_btn img {
  width: 30px;
  padding-right: 8px;
}

/* Add this style to create a grid layout for the features */
.features {
  padding-top: 100px;
  margin: 0 auto;
  max-width: 1350px;
}
h2 {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  padding:  0  0 50px 0;
}
/* Style individual feature items */
.feature {
  position: relative;
  display: flex; /* Use flexbox to center vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center;
  padding: 20px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/* Style the icon */
.feature img {
  width: 50px; /* Adjust the size of the icon as needed */
  height: 50px;
  margin-bottom: 10px;
  margin-right: 30px;
}


/* Style the heading and description */
.feature h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.features a {
  color: #333;
}

.feature span {
  font-size: 16px;
  color: #555;
}
.description {
  text-align: right;
}

.feature:hover {
  animation: float 0.5s ease;
}

.react-datepicker__input-container>input{
  width: 100px;
}

.nav-tabs{
  border-bottom:3px solid #000;
  margin-top: 20px;
}
.nav-tabs>.nav-item{
  font-size: 25px;
  color: #333;
  background-color: #dfdfdf;
  margin-right: 10px;
}
.nav-tabs>.nav-item>.nav-link{
  font-weight: bolder;
  color: #000;
}
.nav-tabs>.nav-item .active{
  color: #fff;
  background-color: #181515;
}


@keyframes float {
  0% {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transform: translate(-1%, -1%);
  }
  100% {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transform: translate(-2%, -2%);
  }
}
