.container {
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border-color: #E5E7EB;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;

        .dayRow {
            margin-top: 0.25rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
        }

        .day {
            padding: 0.25rem;
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
            text-align: center;
        }

        .dayCurr {
            border-radius: 9999px;
            color: #ffffff;
            background-color: #2563EB;
        }
    }

}