
.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: wheat;
   width: 100%;
.search-bar{
    width: 30%;
    .search{
        width:30%;
        .search-text{
            text-align: center;
            width:100%;
            padding:15px 25px;
            font-size: 18px;
        }
    }
    .search-result{
        width:30%;
        background-color: white;
        margin-top: 10px;
        .search-now{
            width: 100%;
            
            background-color: white;
        }
    }
    
}
}
